.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
      %h4.modal-title= "Games for #{@player.name}"
    .modal-body
      - if @games.present?
        %table{class: "table table-bordered table-striped table-hover table-condensed"}
          %thead
            %tr
              %th Date
              %th Opp.
              %th Score
              %th Min
              %th Reb
              %th Ast
              %th TO
              %th Stl
              %th Blk
              %th Pts
              %th FP
            %tbody
              - @games.each do |g|
                %tr
                  %td= g.game_date.strftime("%b %d")
                  %td= g.opponent
                  %td= g.score
                  %td= g.minutes
                  %td= g.rebounds
                  %td= g.assists
                  %td= g.turnovers
                  %td= g.steals
                  %td= g.blocks
                  %td= g.points
                  %th= g.fanduel
      - else
        .no_results No Games Found
