%hr
- if @players.present?
  %table{class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th First Name
        %th Last Name
        %th Positions
        %th Mean FP
        %th Games
        %th &nbsp;
        %th &nbsp;
    %tbody
      - @players.each do |p|
        %tr{class: 'clickable', data: { toggle: 'collapse', target: ".games_#{p.id}"}}
          %td= p.first_name
          %td= p.last_name
          %td= p.positions.map(&:name).join(", ")
          %td
            - if p.mean && p.std_dev
              = p.mean.round(1)
              &#177;
              = p.std_dev.round(1)
          %td= p.game_count
          %td
            %span.line= p.fantasy_points
          %td
            %span.box= p.fantasy_points
        %tr{class: "collapse out games_#{p.id}", data: { player: p.id }}
          %td{colspan: 7}
            %div{id: "games_#{p.id}"}
- else
  .no_results No Players Found
