%hr
- if @players.present?
  %table{class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th Name
        %th Positions
        %th Mean FP
        %th CV
        %th Salary
        %th Value
        %th Games
        %th &nbsp;
        %th &nbsp;
    %tbody
      - @players.each do |p|
        %tr{class: 'clickable', data: { target: ".games_#{p.id}"}}
          %td= p.name
          %td= p.positions.map(&:name).join(", ")
          %td
            - if p.mean.present?
              = p.mean
              &#177;
              = p.std_dev || 0
          %td= p.cv
          %td= number_to_currency(p.salary)
          %td= p.value
          %td= p.games_played
          %td
            %span.line= p.fantasy_points
          %td
            %span.box= p.fantasy_points
        %tr{class: "collapse out games_#{p.id}", data: { player: p.id }}
          %td{colspan: 7}
            %div{id: "games_#{p.id}"}
- else
  .no_results No Players Found
