%hr
- if @players.present?
  - @players.each do |p|
    %div{id: "games_#{p.id}", class: 'modal', tabindex: -1}
  %table{id: 'players_table', class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th Name
        %th Position
        %th Mean FP
        %th CV
        %th Last 5
        %th Max FP
        %th Salary
        %th $/FP
        %th Games
        %th &nbsp;
        %th &nbsp;
    %tbody
      - @players.each do |p|
        %tr{class: 'clickable', data: { player: p.id }}
          %td
            = p.name
            - if p.status == 'out'
              .label.label-danger OUT
            - if p.status == 'gtd'
              .label.label-warning GTD
          %td= p.position
          %td
            - if p.mean.present?
              = p.mean
              &#177;
              = p.confidence_interval
          %td= p.cv
          %td= p.last_5
          %td= p.max_fanduel
          %td= number_to_currency(p.salary.salary)
          %td= number_to_currency(p.cost_per_point)
          %td= p.games_played
          %td
            %span.line= p.fantasy_points
          %td
            %span.box= p.fantasy_points
- else
  .no_results No Players Found
