- if @players.present?
  - @players.each do |p|
    - games = @games[p.id]
    %div{id: "games_#{p.id}", class: 'modal', tabindex: -1}
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            %button.close{type: 'button', 'data-dismiss' => 'modal', 'aria-hidden' => 'true'} &times;
            %h4.modal-title= "Games for #{p.name}"
          .modal-body
            - if games.present?
              %table{class: "table table-bordered table-striped table-hover table-condensed"}
                %thead
                  %tr
                    %th Date
                    %th Opp.
                    %th Score
                    %th Min
                    %th Reb
                    %th Ast
                    %th TO
                    %th Stl
                    %th Blk
                    %th Pts
                    %th FP
                  %tbody
                    - games.each do |g|
                      %tr
                        %td= g.game_date.strftime("%b %d")
                        %td= g.opponent
                        %td= g.score
                        %td= g.minutes
                        %td= g.rebounds
                        %td= g.assists
                        %td= g.turnovers
                        %td= g.steals
                        %td= g.blocks
                        %td= g.points
                        %th= g.fanduel
            - else
              .no_results No Games Found
  %table{id: 'players_table', class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th Name
        %th.resizable-false Pos
        %th.resizable-false Team
        %th Mean
        %th CV
        %th Last 5
        %th Max
        %th Salary
        %th $/Mean
        %th $/Last 5
        %th Games
        %th &nbsp;
    %tbody
      - @players.each do |p|
        %tr{class: 'clickable', data: { player: p.id }}
          %td
            %span{style: 'padding-right: 10px;'}= p.name
            - if p.status == 'out'
              .label.label-danger OUT
            - if p.status == 'gtd'
              .label.label-warning GTD
          %td= p.position
          %td= p.team.abbreviation.upcase
          %td
            - if p.mean.present?
              = p.mean
              &#177;
              = p.confidence_interval
          %td= p.cv
          %td= p.last_5
          %td= p.max_fanduel
          %td= number_to_currency(p.salary.salary)
          %td= number_to_currency(p.cost_per_point)
          %td= number_to_currency(p.last_5_cost_per_point)
          %td= p.games_played
          %td
            %span.line= p.sparkline
- else
  .no_results No Players Found
