- if @players.present?
  - @players.each do |p|
    %div{id: "games_#{p.id}", class: 'modal', tabindex: -1}
  %table{id: 'players_table', class: "table table-bordered table-striped table-hover"}
    %thead
      %tr
        %th Name
        %th.resizable-false Pos
        %th.resizable-false Team
        %th Mean
        %th CV
        %th Last 5
        %th Max
        %th Salary
        %th $/Mean
        %th $/Last 5
        %th Games
        %th &nbsp;
        %th &nbsp;
    %tbody
      - @players.each do |p|
        - game_data = (@games[p.id] || []).map(&:fanduel).join(",")
        %tr{class: 'clickable', data: { player: p.id }}
          %td
            %span{style: 'padding-right: 10px;'}= p.name
            - if p.status == 'out'
              .label.label-danger OUT
            - if p.status == 'gtd'
              .label.label-warning GTD
          %td= p.position
          %td= p.team.abbreviation.upcase
          %td
            - if p.mean.present?
              = p.mean
              &#177;
              = p.confidence_interval
          %td= p.cv
          %td= p.last_5
          %td= p.max_fanduel
          %td= number_to_currency(p.salary.salary)
          %td= number_to_currency(p.cost_per_point)
          %td= number_to_currency(p.last_5_cost_per_point)
          %td= p.games_played
          %td
            %span.line= game_data
          %td
            %span.box= game_data
- else
  .no_results No Players Found
