!!!
%html
  %head
    %title Fantalyzer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
    = yield(:head)
  %body{data: { controller: controller_name, action: action_name}}
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: 'navigation'}
      .container-fluid
        .navbar-header
          = link_to 'Fantalyzer', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{class: @player_select}= link_to 'Players', players_path
            %li{class: @salary_select}= link_to 'Load Salaries', salaries_players_path
          - if current_user
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                = link_to user_icon, nil, class: 'dropdown-toggle', data: { toggle: 'dropdown'}
                %ul.dropdown-menu
                  %li= link_to "Edit Profile", edit_user_registration_path
                  %li= link_to "Log Out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to log out?" }
    .container-fluid
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      = yield
