!!!
%html
  %head
    %title Fantalyzer
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tag
    = yield(:head)
  %body{data: { controller: controller_name, action: action_name}}
    %nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse{role: 'navigation'}
      .container-fluid
        .navbar-header
          = link_to 'Fantalyzer', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.active= link_to 'Players'
    .container-fluid
      = yield
